<!-- Page Content -->
<div class="container bg-secondary">
	<div class = "row">
		<div class="mx-auto pt-4 px-5">
          <h1 class="mb-4 text-center text-dark">Most Popular GIFs</h1>
        </div>
	</div>
	
  <div class="row" *ngIf="areGifsLoaded">
    <!-- Card 1 -->
    <div class="col-xl-3 col-md-6 mb-4" *ngFor= "let gif of gifData">
      <div class="card border-0 shadow bg-dark" >
        <img src={{gif.images.fixed_height.url}} class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">{{gif.title}}</h5>
          <div class="card-text text-50">
              <a href= {{gif.url}}  target = "_blank">
                <button class="btn  btn-sm btn-primary mt-4">See on giphy.com</button>
              </a></div>
        </div>
      </div>
    </div>
  </div>

  
   
  <!-- /.row -->
  <div class ="row">
  	<div class="mx-auto my-auto">
          <p class="mb-5 mt-3 text-dark text-center">Powered By GIPHY</p>
        </div> 	
  </div> 


</div>
